@media screen and (max-width:1023px) and (min-width:768px){
    /* header */
    .menu-bars{
        display: block;
    }
    .nav input:checked  ~ .menu{
        display: block;
        
    }
    .menu{
        position: absolute;
        display: none;
        background-color: rgba(0, 0, 0, 0.9);
        height: 100vh;
        width: 300px;
        top: 0;
        left: 0;
        padding-top: 40px;
        transition: 1s;
    }
    .menu li{
        margin-bottom: 10px;
    }
    .menu li a{
        color: white;
    }
    .inner-menu{
        opacity: 100%;
        background-color: transparent;
    }
    /* hero */
    .hero{
        padding:0 0 200px 20px;
    }
    .header-title h1{
        font-size: 40px;
    }
    /* brand */
    .brand-inner{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    /* markwines */
    .mark-wiens{
        grid-template-columns: 1fr;
        padding-left: 20px;
    }
    .mark-wiens-left{
        text-align: left;
    }
    /* price-area */
    .price-area{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .price-area-top-left{
        text-align: left;
        padding-left: 40px;
    }
    .price-area-top-right{
        text-align: right;
        padding-right: 40px;
    }
    /* about */
    #about{
        grid-template-columns: 1fr;
    }
    .about-left{
        margin: 0px;
        padding-left: 30px;
        margin-bottom: 50px;
    }
    .about-right img{
        width: 100%;
    }
    .about-left h2{
        font-size: 30px;
    }
    /* main-title */
    .inner-main-title{
        padding: 0 200px;

    }
    /* service */
    .inner-service{
        grid-template-columns: repeat(2,1fr);
        margin-bottom: 60px;
    }
    /* overlay */
    .overlay{
        background-position: right;
    }
    .inner-overlay{
        padding-left: 30px;
    }
    /* faq */
    .faq-content{
        margin-left: 0;
    }
    /* contact */
    .contact-form{
        grid-template-columns: 1fr;
    }
    .contact-form-left{
        grid-template-columns: 1fr;
    }
    .contact-form-left input{
        padding: 20px 10px;
    }
    .contact-form-right textarea{
        width: 100%;
    }
    /* generic-page */
    .content{
        padding-left: 20px;
    }
    /* elements-page */
    .buttons{
        padding-left:20px;
    }
    .left-aligned-content{
        grid-template-columns: 1fr 4fr;
        padding: 0 20px;
    }
    .right-aligned-content{
        grid-template-columns: 4fr 1fr;
        padding: 0 20px;
    }
    .left-aligned-content img,.right-aligned-content img{
        width: 90%;
    }
    .definition{
        padding: 0 20px;
    }
    .image-gallery-bottom{
        padding: 0 20px;
    }
    .switches-box p{
        font-size: 12px;
    }
    .check-box,.radios-box{
        font-size: 12px;
    }
    /* footer */
    .footer{
        padding-left: 20px;
    }
    .footer-top{
        grid-template-columns: 1fr;
    }
    .footer-top-link{
        margin-bottom: 30px;
    }
    .footer-top-form{
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 30px;
    }
    .footer-top-form input{
        width: 90%;
        margin-bottom: 20px;
    }
    .footer-top-form a{
        width: 170px;
    }
    .footer-bottom{
        display: grid;
        grid-template-columns: 1fr;
    }
    .footer-bottom-1{
        margin-bottom: 40px;
    }
}

@media screen and (max-width:767px) and (min-width:320px) {
    /* header */
    .menu-bars{
        display: block;
    }
    .nav input:checked  ~ .menu{
        display: block;
        
    }
    .menu{
        position: absolute;
        display: none;
        background-color: rgba(0, 0, 0, 0.9);
        height: 1000vh;
        width: 250px;
        top: 0;
        left: 0;
        padding-top: 40px;
        transition: 1s;
    }
    .menu li{
        margin-bottom: 10px;
    }
    .menu li a{
        color: white;
    }
    .inner-menu{
        opacity: 100%;
        background-color: transparent;
    }
     /* hero */
     .hero{
        background: url("../images/header1-bg.jpg") no-repeat center center;
        padding:0 0 200px 0px;
        background-size: cover;
    }
    .header-title h1{
        font-size: 40px;
    }
    /* brand */
    .brand-inner{
        display: grid;
        grid-template-columns:1fr;
        align-items: center;
    }
    /* markwines */
    .mark-wiens{
        grid-template-columns: 1fr;
        padding-left: 20px;
    }
    .inner-title h2{
        font-size: 30px;
    }
    .mark-wiens-left{
        text-align: left;
    }
    /* price area */
    .price-area{
        grid-template-columns: 1fr;
        text-align: center;
    }
    /* about */
    #about{
        grid-template-columns: 1fr;
    }
    .about-left{
        margin: 0px;
        padding-left: 30px;
        margin-bottom: 50px;
    }
    .about-right img{
        width: 100%;
    }
    .about-left h2{
        font-size: 30px;
    }
    /* service */
    .inner-service{
        grid-template-columns:1fr;
        margin-bottom: 60px;
    }
     /* overlay */
     .overlay{
        background-position: right;
    }
    /* faq */
    .faq-content{
        grid-template-columns: 1fr;
        margin-left: 0;
    }
    .faq-content-left h2{
        font-size: 30px;
    }
    .faq-content-left{
        margin-left: 0;
    }
    .faq-title-left{
        margin-left: 0;
    }
    .faq-title-left h2{
        font-size: 50px ;
    }
    .faq-content-righ{
        margin-left: 10px;
    }
    /* contact */
    .contact-form{
        grid-template-columns: 1fr;
    }
    .contact-form-left{
        grid-template-columns: 1fr;
    }
    .contact-form-left input{
        padding: 20px 10px;
    }
    .contact-form-right textarea{
        width: 100%;
    }
    /* elements page */
    /* left aligned content */
    .left-aligned-content{
        grid-template-columns: 1fr;
        padding: 0 20px;
    }
    /* right aligned content */
    .right-aligned-content{
        grid-template-columns:1fr;
    }
    /* definition */
    .definition-box{
        grid-template-columns:1fr;
        grid-gap: 0;
        padding-left: 10px;
    }
    /* table */
    .head{
        margin-right: 90px;
    }
    .seryal{
        margin-right: 90px;
    }
    .contry{
        margin-right: 130px;
    }
    .visits{
        margin-right: 90px;
    }
    /* image gallery */
    .image-box-1{
        grid-template-columns:1fr;
    }
    .image-box-2{
        grid-template-columns:1fr;
    }
    .image-box-3{
        grid-template-columns:1fr;
    }
    /* image gallery bottom */
    .image-gallery-bottom-inner{
        grid-template-columns: 1fr;
    }
    .section-inner{
        grid-template-columns: 1fr;
    }
    /* footer */
    .footer{
        padding-left: 20px;
    }
    .footer-top{
        grid-template-columns: 1fr;
    }
    .footer-top-link{
        margin-bottom: 30px;
    }
    .footer-top-form{
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 30px;
    }
    .footer-top-form input{
        width: 90%;
        margin-bottom: 20px;
    }
    .footer-top-form a{
        width: 170px;
    }
    .footer-bottom{
        display: grid;
        grid-template-columns: 1fr;
    }
    .footer-bottom-1{
        margin-bottom: 40px;
    }
}